In [1]:
#Integer

a = 5
print(a)
type(a)

5

int

In [2]:
#Float

b = 5.1
print(b)
type(b)

5.1

float

In [3]:
#List

my_list = ['p', 'y', 't', 'h', 'o', 'n']
print(my_list)
type(my_list)

['p', 'y', 't', 'h', 'o', 'n']

list

In [4]:
#Tuple

my_tuple = (1, 2, 3)
print(my_tuple)
type(my_tuple)

(1, 2, 3)

tuple

In [5]:
#String

my_string = "Hello, welcome to the world of Python"
print(my_string)
type(my_string)

Hello, welcome to the world of Python

str

In [6]:
#Set

my_set = {1, 2, 3}
print(my_set)
type(my_set)

{1, 2, 3}

set

In [7]:
#Dictionary

my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)
type(my_dict)

{1: 'apple', 2: 'ball'}

dict